.main input{
    margin-top: 20px;
    width: 60%;
    height: 30px;
    border: none;
    box-shadow: 1px 3px 14px;
    border-radius: 20px;
    outline: none;
    text-align: center;
}
.main button{
    border: none;
    outline: none;
    background-color: aqua;
    border-radius: 20px;
    height: 30px;
    box-shadow: 1px 3px 14px;
}